/*
  Fixed width grid based on: https://css-tricks.com/dont-overthink-it-grids/
  Width: 1080px
  Division: 12 columns
  Gutter: 20px (both ends)
*/
.grid {
  width: 1080px;
}

.row {
  width: 1040px;
  margin-left: 20px;
  margin-right: 20px;
}

.row:before, .row:after{
  content: "";
  display: table;
  clear: both;
}

[class*='col-'] {
  float: left;
  padding-left: 10px;
  padding-right: 10px;
}

.col-1-4 { width: 250px; }

.col-3-4 { width: 790px; }

.col-1-6 { width: 160px; }

.col-4-6 { width: 700px; }
